node_modules/
nodemodules/

appstate.json
appstate*.json
appstate*.json.*
appstate.json.bak
appstate.json.tmp
*.appstate.json
config.json
SahuFcaConfig.json
config.json.temp
config.temp
.env
.env.*

.bot.pid
*.log
npm-debug.log*

.DS_Store
Thumbs.db
.idea/
.vscode/
